h2 {
    color: dodgerblue;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
}

nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: lightseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: double ;
    
}

nav li a:hover {
    background-color: lightblue;
}