body {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("travel.png");
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto
}

header {
    background-color: rgba(155, 243, 242, 0.2);
    padding-left: 8px;
}
footer {
    
    background-color: rgba(125, 205, 237, 0.2);
   
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: rgba(238, 237, 237, 0.8);
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: rgba(230, 235, 237,0.9);
}

th {
    font-weight: bold;
}

table, th, td {
    border: 3px solid;
}

table {
    width: 50%;
    height: 30%;
    align-items:stretch;
}

nav a:hover {
    color: rgb(249, 15, 15);
}

table th {
    background-color: rgb(84, 175, 236);
    height: 30px;
    align-content: center;
}

table td {
    background-color: rgb(194, 224, 244);
    text-align:center;
    
}

h1, h2, h3 {
    color: rgb(240, 70, 70);
}

article a {
    color: rgb(92, 92, 231);
}

#contact {
    color: white;
}

#contact-link {
    color: lightblue;
}


